@media only screen and (max-width:360){
    .img-adjust{
        width:100%;
    }
}
@media only screen and (max-width:450px){
    tr th{
        padding:55%;
    }
}
.aboutself{
    width:52%;
    padding:5px;
}

@media only screen and (max-width:360px){
body{
    font-size:0.7rem;

}
.paragraph{
    padding-left:5px;
}
.Details div:first-child{
    width:50%;
}
}
@media only screen and (max-width:768px){
    body{
        font-size:0.7rem;
        font-weight: bold;
    }
}